data/*.txt filter=lfs diff=lfs merge=lfs -text
data/case_employer[[:space:]](3.25.21).txt filter=lfs diff=lfs merge=lfs -text
data/v_er_type.txt filter=lfs diff=lfs merge=lfs -text
data/case_cl_summary[[:space:]](1).txt filter=lfs diff=lfs merge=lfs -text
data/v_act[[:space:]](1).txt filter=lfs diff=lfs merge=lfs -text
data/case_act_eer_sum.txt filter=lfs diff=lfs merge=lfs -text
data/kase[[:space:]](1).txt filter=lfs diff=lfs merge=lfs -text
data/v_act_violations.txt filter=lfs diff=lfs merge=lfs -text
data/v_state_codes.txt filter=lfs diff=lfs merge=lfs -text
data/case_act_summary[[:space:]](1).txt filter=lfs diff=lfs merge=lfs -text
data/case_employer.txt filter=lfs diff=lfs merge=lfs -text
data/v_bus_org_type.txt filter=lfs diff=lfs merge=lfs -text
data/v_case_actions.txt filter=lfs diff=lfs merge=lfs -text
data/v_case_status.txt filter=lfs diff=lfs merge=lfs -text
data/v_level.txt filter=lfs diff=lfs merge=lfs -text
data/v_spec_coverage.txt filter=lfs diff=lfs merge=lfs -text
data/v_viol_reason.txt filter=lfs diff=lfs merge=lfs -text
data/case_cmp_assmnt[[:space:]](1).txt filter=lfs diff=lfs merge=lfs -text
data/case_er_sites.txt filter=lfs diff=lfs merge=lfs -text
data/v_act_viol_codes.txt filter=lfs diff=lfs merge=lfs -text
data/v_county_codes.txt filter=lfs diff=lfs merge=lfs -text
data/v_er_ee_cnt_ranges.txt filter=lfs diff=lfs merge=lfs -text
data/v_comply_status.txt filter=lfs diff=lfs merge=lfs -text
data/v_est_type.txt filter=lfs diff=lfs merge=lfs -text
data/v_injury_level.txt filter=lfs diff=lfs merge=lfs -text
data/v_invest_tools.txt filter=lfs diff=lfs merge=lfs -text
data/v_naics.txt filter=lfs diff=lfs merge=lfs -text
data/v_est_status[[:space:]](1).txt filter=lfs diff=lfs merge=lfs -text
data/case_act_eer_viol[[:space:]](1).txt filter=lfs diff=lfs merge=lfs -text
data/v_bus_status.txt filter=lfs diff=lfs merge=lfs -text
data/v_concluded_reason.txt filter=lfs diff=lfs merge=lfs -text
data/wh_office.txt filter=lfs diff=lfs merge=lfs -text
